<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="../js/app.js" defer></script>
</head>

<body>
    <div id="navbar"></div>

    <div class="box">
        <img src="../images/cat.gif" class="img-right" style="width: 500px; height: auto;">
        <h1>Welcome to myTravelBlog</h1>

        <p>
            Looking for a place to save all your travel memories in one place?<br>
            You've come to the right spot! 
        </p>
            
        <p>
            myTravelBlog is your personal travel diary —
            a calm, private space designed just for you and your adventures.
        </p>

        <p>
            Use the interactive map to drop pins on every place you've visited,
            whether it's a hidden café in Paris, a mountain trail in Norway, or your
            favourite childhood holiday destination. Every pin tells a story.
        </p>

        <p>
            For each location, you can create an <strong>album</strong> and write
            a personal description — your thoughts, your feelings, the little details
            you never want to forget. No likes, no followers, no distractions.
        </p>

        <p>
            Visiting the same spot more then once?<br>
            Just make a new page in your existing album!
        </p>

        <p>
            This is your space. Start pinning, start writing, and let your travels live on.
        </p>
    </div>
    <div class="box">
        <h1>What you can find:</h1>
        <p>Home - redirects you back to the home page</p>
        <p>About - redirects to the about page</p>
        <p>Map - redirects to the map editor (a place where you can create new albums)</p>
        <p>Albums - shows all albums created in one place. You can delete, create new ones or detele old albums! 
            Albums can be filtered by date (of the travel), place, continent. It is also possible to search for them by name.</p>
        <p>Gallery - shows all photos in one place. You can filter them by date!</p>
    </div>

    <div id="footer"></div>
</body>

</html>