<head>
    <script src="../js/app.js" defer></script>
</head>
<header>
    <div class="page-navbar">
        <div class="logo-inject logo-navbar"></div>
        <ul>
            <li><a id="homeLink" href="index.html">Home</a></li>
            <li><a id="aboutLink" href="about.html">About</a></li>
            <li><a id="editorLink" href="editor.html">Editor</a></li>
            <li><a id="albumGalleryLink" href="albumGallery.html">Albums</a></li>
            <li><a id="photoGalleryLink" href="photoGallery.html">Gallery</a></li>
            <li><button id="loginBtn" class="btn btn-dark btn"><a href="login.html">Login</a></button></li>
            <li><button id="registerBtn" class="btn btn-dark"><a href="register.html">Register</a></button></li>
            <li><button id="logoutBtn" class="btn btn-dark"><a href="#">Logout</a></button></li>
        </ul>
    </div>
</header>